<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ideum.com.megamovie"
    android:versionCode="9"
    android:versionName="3.01">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Java.Application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0mm9X7tEIxtV-2DAS1LRMhmhGwLQPl-8" />


        <activity
            android:name=".Java.NewUI.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Java.NewUI.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".Java.NewUI.AboutActivity">
        </activity>
        <activity android:name=".Java.NewUI.MyEclipseActivity">
        </activity>
        <activity android:name=".Java.NewUI.SignInActivity">
        </activity>
        <activity android:name=".Java.NewUI.CalibrateDirectionTestActivity">
        </activity>
        <activity android:name=".Java.NewUI.MoonTest.MoonTestCaptureActivity">
        </activity>
        <activity android:name=".Java.NewUI.MoonTest.MoonTestCalibrateDirectionActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestCalibrateLensActivity" />
        <activity android:name=".Java.CameraControl.CameraHardwareCheckActivity">
        </activity>
        <activity android:name=".Java.NewUI.MoonTest.MoonTestHandHeldCaptureActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestPointingActivity" />
        <activity android:name=".Java.NewUI.SensorTestActivity">
        </activity>
        <activity android:name=".Java.Application.UploadActivity">
        </activity>
        <activity android:name=".Java.Application.UploadTestActivity">
        </activity>
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayInstructions" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayMainActivity">
        </activity>
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayMyEclipseActivity">
        </activity>
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayCaptureActivity">

        </activity>
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayCalibrateDirectionActivity">
        </activity>
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayPointingActivity" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayCalibrateLensActivity"></activity>

        <activity android:name=".Java.PatagoniaTest.MapActivity">

        </activity>
        <activity android:name=".Java.PatagoniaTest.CalibrationActivity">
            android:screenOrientation="portrait"

        </activity>
        <activity android:name=".Java.PatagoniaTest.CaptureActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".Java.PatagoniaTest.CameraTestActivity">
            android:screenOrientation="portrait"

        </activity>
    </application>

</manifest>