<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ideum.com.eclipsecamera2019"
    android:versionCode="18"
    android:versionName="3.02">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera.capability.manual_sensor"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Java.Application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Java.Prototyping.CaptureTestActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".Java.Prototyping.VideoTestActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".Java.NewUI.WelcomeActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0mm9X7tEIxtV-2DAS1LRMhmhGwLQPl-8" />

        <activity
            android:name=".Java.NewUI.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Java.NewUI.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Java.NewUI.AboutActivity" />
        <activity android:name=".Java.NewUI.MyEclipseActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestCaptureActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestCalibrateDirectionActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestCalibrateLensActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestHandHeldCaptureActivity" />
        <activity android:name=".Java.NewUI.MoonTest.MoonTestPointingActivity" />
        <activity android:name=".Java.NewUI.SensorTestActivity" />
        <activity android:name=".Java.Application.UploadActivity" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayInstructions" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayMainActivity" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayMyEclipseActivity" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayCaptureActivity"/>
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayCalibrateDirectionActivity" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayPointingActivity" />
        <activity android:name=".Java.NewUI.EclipseDay.EclipseDayCalibrateLensActivity" />
    </application>

</manifest>